{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center">Font Examples</h2>
    <div class="example-fonts text-center">
        <p style="font-family: FrankRuhlLibre-Black;">This is an example of Frank Ruhl Libre Black.</p>
        <p style="font-family: FrankRuhlLibre-Bold;">This is an example of Frank Ruhl Libre Bold.</p>
        <p style="font-family: FrankRuhlLibre-Light;">This is an example of Frank Ruhl Libre Light.</p>
        <p style="font-family: FrankRuhlLibre-Medium;">This is an example of Frank Ruhl Libre Medium.</p>
        <p style="font-family: FrankRuhlLibre-Regular;">This is an example of Frank Ruhl Libre Regular.</p>
    </div>
</div>
{% endblock %}
