{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Create a Haiku</h1>

    {% if photo%}
    <!-- Display the selected photo -->
    <div class="card mb-4">
        <img src="{{ photo.photo.url }}" class="card-img-top" alt="Photo taken on {{ photo.date_taken }}">
        <div class="card-body">
            <h5 class="card-title">Date Taken: {{ photo.date_taken }}</h5>
            <p class="card-text">Photo ID: {{ photo.number }}</p>
            <p class="card-text">Collaborated: {% if photo.collaborated %} Yes {% else %} No {% endif %}</p>
        </div>
    </div>
    {% endif %}

    <form method="POST" class="mb-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="text" class="form-label">Haiku Text</label>
            <textarea id="text" name="text" class="form-control" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" id="author" name="author" class="form-control" required>
        </div>
        <!-- Use photo.number instead of photo.id -->
        <input type="hidden" name="photo_number" value="{{ photo.number }}">
        <button type="submit" class="btn btn-custom">Submit Haiku</button>
    </form>
    

    <a href="{% url 'main' %}" class="btn btn-custom">Back to Home</a>
</div>
{% endblock %}
