{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">

    <div class="dropdown mb-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by: {{ request.GET.sort|default:"Number (Asc)" }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
            <li>
                <a class="dropdown-item" href="?sort=number_asc&page=1">Number (Asc)</a>
            </li>
            <li>
                <a class="dropdown-item" href="?sort=number_desc&page=1">Number (Desc)</a>
            </li>
            <li>
                <a class="dropdown-item" href="?sort=date&page=1">Date Taken</a>
            </li>
            <li>
                <a class="dropdown-item" href="?sort=collaborated&page=1">Collaborated</a>
            </li>
            <li>
                <a class="dropdown-item" href="?sort=not_collaborated&page=1">Not Collaborated</a>
            </li>
            <li>
                <a class="dropdown-item" href="?sort=collaborated_not_posted&page=1">Collaborated and Not Posted</a>
            </li>
            <li>
                <a class="dropdown-item" href="?sort=insta_asc&page=1">Instagram (Asc)</a>
            </li>
            <li>
                <a class="dropdown-item" href="?sort=insta_desc&page=1">Instagram (Desc)</a>
            </li>
        </ul>
        
    </div>
    
    

    <div class="row">
        {% for photo in photos %}
            <div class="col-md-4 mb-4">
                <div class="seasonal-content-box">
                       <!-- Overlay image, centered and transparent -->

                    <a href="{% url 'photo_detail' photo.id %}">

                            <div class="position-relative">

                            {% if photo.collaborated %}
                            <div class="overlay">
                                <img src="{% static 'png/leaf-circle.png' %}" alt="Overlay Image">
                            </div>
                            {% endif %}

                            <!--<img src="{{ photo.photo.url }}" class=" {% if photo.collaborated %} grayed-out {% endif %} img-fluid max-image-size ">-->
                            <img src="{{ photo.photo.url }}" class="{% if photo.collaborated %} grayed-out {% endif %} img-fluid max-image-size ">
                        </div>
                            <div class="photo-number">
                                <a >{{ photo.number }}</a>
                                <!-- Check if the photo has an associated haiku -->
                                {% if photo.haiku_set.exists %}
                                <a style="margin-left: 1rem;">Haiku ✔</a>
                                {% endif %}
                            </div>
                        

                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

   <!-- Pagination Section -->
   <nav aria-label="Page navigation">
       <ul class="pagination justify-content-center">
           {% if photos.has_previous %}
               <li class="page-item">
                   <a class="page-link" href="?page=1&sort={{ request.GET.sort }}" aria-label="First">
                       <span aria-hidden="true">&laquo; First</span>
                   </a>
               </li>
               <li class="page-item">
                   <a class="page-link" href="?page={{ photos.previous_page_number }}&sort={{ request.GET.sort }}">Previous</a>
               </li>
           {% endif %}

           {% for num in photos.paginator.page_range %}
               {% if photos.number == num %}
                   <li class="page-item active" aria-current="page">
                       <span class="page-link">{{ num }}</span>
                   </li>
               {% elif num > photos.number|add:-3 and num < photos.number|add:3 %}
                   <li class="page-item">
                       <a class="page-link" href="?page={{ num }}&sort={{ request.GET.sort }}">{{ num }}</a>
                   </li>
               {% endif %}
           {% endfor %}

           {% if photos.has_next %}
               <li class="page-item">
                   <a class="page-link" href="?page={{ photos.next_page_number }}&sort={{ request.GET.sort }}">Next</a>
               </li>
               <li class="page-item">
                   <a class="page-link" href="?page={{ photos.paginator.num_pages }}&sort={{ request.GET.sort }}" aria-label="Last">
                       <span aria-hidden="true">Last &raquo;</span>
                   </a>
               </li>
           {% endif %}
       </ul>
   </nav>
</div>

{% endblock %}
