{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1>Photo Details</h1>
    
    <div class="card">
        <img src="{{ photo.photo.url }}" class="card-img-top" alt="Photo taken on {{ photo.date_taken }}">
        <div class="card-body">
            <h5 class="card-title">Date Taken: {{ photo.date_taken }}</h5>
            <p class="card-text">Collaborated: {% if photo.collaborated %} Yes {% else %} No {% endif %}</p>
        </div>
    </div>

    <a href="{% url 'main' %}" class="btn btn-primary mt-4">Back to Home</a>
</div>

{% endblock %}
