{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">{{ photo.number }}</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="text-center">
                    <img src="{{ photo.photo.url }}" class="card-img-top img-fluid" alt="Photo taken on {{ photo.date_taken }}" style="max-width: 100%; height: auto;"/>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Date Taken: {{ photo.date_taken }}</h5>
                    <p class="card-title">Photographer: {{ photo.photographer }}</p>
                    <p class="card-text">Collaborated: {% if photo.collaborated %} Yes {% else %} No {% endif %}</p>
                    <a href="{% url 'haiku_create' %}?photo_number={{ photo.number }}" class="btn btn-custom">Create a Haiku</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h2 class="mb-4">Haiku(s):</h2>
            <div class="list-group">
                {% for haiku in haikus %}
                    {% if haiku.get_instagram_link %}
                        <a href="{{ haiku.get_instagram_link }}" class="list-group-item list-group-item-action">
                    {% else %}
                        <div class="list-group-item">
                    {% endif %}
                            <p class="mb-1">{{ haiku.text }}</p>
                            <small>Author: {{ haiku.author }}</small>
                            {% if haiku.instagram_tag %}
                                <br>{{ haiku.instagram_tag }}
                            {% endif %}
                        {% if haiku.get_instagram_link %}
                        </a>
                        {% else %}
                        </div>
                        {% endif %}
                {% empty %}
                    <div class="list-group-item">No haikus associated with this photo.</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
